/* 通用的css变量，会自动导入到所有样式文件开头 */
$large-font-size: 22px;
$big-font-size: 18px;
$middle-font-size: 16px;
$default-font-size: 14px;
$small-font-size: 12px;
$mini-font-size: 11px;

$max-margin: 30px;
$large-margin: 20px;
$big-margin: 16px;
$middle-margin: 12px;
$default-margin: 10px;
$small-margin: 8px;
$mini-margin: 5px;

$big-border-radius: 12px;
$default-border-radius: 7px;
$middle-border-radius: 6px;
$small-border-radius: 5px;
$mini-border-radius: 3px;
